header {
    text-align: center;
}

.table p {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

img {
    width: 150px;
    height: 150px;
}

table,
td {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

ol li {
    margin-bottom: 20px;
}

.links {
    display: grid;
    grid-column: auto;
}

.links h3 {
    margin: 0;
}
