html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "M Plus 1p", serif;
}

ol, ul {
    list-style: none;
}

a:hover {
    color: #A22F32;
    transition: ease-in-out 0.3s;
}

.container {
    margin-inline: 130px;
}

.header {
    position: sticky;
}

.navbar {
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #0F044C;
    font-weight: 900;
    letter-spacing: 2px;
}

.nav-items {
    width: 465px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    text-decoration: none;
    color: #30233D;
    font-size: 14.4px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.header-phone {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #30233D;
    font-size: 14.4px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.phone-number {
    text-decoration: none;
}

.hamburger-menu {
    display: none;
}

.welcome {
    background-image: url(/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    padding: 110px 0;
}

.welcome-title {
    color: #fff;
    font-size: 54px;
    margin-bottom: 22px;
}

.welcome-title-hidden {
    display: none;
}

.welcome-text {
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.body-content {
    margin-top: 60px;
}

.remember {
    font-size: 12.6px;
    color: #A22F32;
    letter-spacing: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}

.body-text {
    margin-top: 10px;
    max-width: 850px;
    font-size: 27px;
    color: #30233D;
    font-weight: 500;
}

.body-cards {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 365px;
    border: 1px solid #F61067;
    padding: 35px 40px;
}

.card-title {
    margin-top: 33px;
    font-size: 27px;
    color: #30233D;
}

.card-text {
    margin-top: 15px;
    font-size: 16.2px;
    color: #30233D;
}

footer {
    margin-top: 50px;
    padding: 84px 0 72px 0;
    background-color: #000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-size: 11.7px;
    color: #fff;
}



@media(max-width: 992px) {
    .container {
        margin-inline: 25px;
    }

    .navbar {
        padding: 35px 0;
    }

    .nav-items {
        display: none;
    }

    .header-phone {
        margin-left: 400px;
    }

    .hamburger-menu {
        display: block;
    }

    .welcome {
        text-align: center;
    }

    .body-cards {
        flex-wrap: wrap;
        gap: 60px;
        justify-content: space-around;
    }

    .card {
        max-width: 440px;
    }

    footer {
        padding: 25px 0 41px 0;
    }

    .footer-text {
        padding-top: 30px;
    }
}


@media(max-width: 576px) {
    .container {
        margin-inline: 44px;
    }

    .header-phone {
        display: none;
    }

    .welcome-title {
        display: none;
    }

    .welcome-title-hidden {
        display: block;
        color: #fff;
        font-size: 39px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    .welcome::before {
        content: '';
        height: 350px;
        position: absolute;
        top: 105px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:rgba(0, 0, 0, .3);
    }

    .card {
        max-width: 489px;
    }
}

@media(width < 900px) {
    .header-phone {
        display: none;
    }
}